
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Sanchez');
* {
            margin: 0;
            padding: 0;
        }
        body, html {
            height: 100%;



        }
        body {
            background: #fff;
            position: relative;
            font-family: Sanchez, Alegreya+SC;
        }

        section {
            padding-top: 5%;
            min-height: 100%;
            font-weight: 300;
            color: #2a3039;
            z-index: 1;
            position: relative;

        }
        section h1  {
            font-size: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #cb4bca;
            padding-top: 25%;
            padding-bottom: 25%;
            text-shadow: 1px 1px black;
            font-family: Sanchez, Alegreya;
          }

          p {
              font-size: 45px;
              /* display: flex; */
              /* flex-direction: column; */
              justify-content: center;
              color: #cb4bca;
              padding-top: 10%;
              /* padding-bottom: 25%; */
              padding-left: 32%;
              padding-bottom: 20%;
              font-family: Sanchez, Alegreya;
              text-shadow: 1px 1px black;
            }

            h2 {
                font-size: 45px;
                /* display: flex; */
                /* flex-direction: column; */
                justify-content: center;
                color: #cb4bca;
                padding-top: 10%;
                /* padding-bottom: 25%; */
                padding-left: 12%;
                padding-right: 20%;
                text-shadow: 1px 1px black;
              }

          .box {
            background: #f39264 ;
            width: 300px;
            height: 40%;
            padding: 50px;
            line-height: 10px;
            text-align: center;
            color: #cb4bca;
            font-size: 40px;
            border-radius: 60px;
            padding-left: 10%;
            }

          .animated {
  transition: transform 2s ease-in-out 1s,
    background-color 0.5s linear;
        }

          .box:hover {
  transform: translateX(700px);
  background-color: #cb4bca;
}


          .container1 {
            display: flex;
            flex-flow: wrap;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
            height: 60vh;
            width: 80vw;
            align-content:flex-start;
            align-items:center;
            justify-content:flex-end;
            padding-top: 20%;
            text-shadow: 1px 1px black;
        }

        .container2 {
          display: flex;
          flex-flow: wrap;
          flex-direction: row;
          align-items: center;
          margin: 0 auto;
          height: -15vh;
          width: 50vw;
          align-content: space-between;
          align-items:center;
          justify-content: flex-end;
          width: 55%;
          padding-right: 15%;
          box-sizing: content-box;
          padding: 15px;
          padding-bottom: 10%;
          transition: .45s ease-in-out;
          text-shadow: 1px 1px black;
        }

          .container img {
              width: calc(60vw/7);
              height: auto;
              transition: all 1s linear;
              padding: 10px;
              z-index: -1;
          }

          .container div:nth-child(2n) img{
              border-top-left-radius: 27%;
              border-top-right-radius: 32%;
              border-bottom-left-radius: 34%;
              border-bottom-right-radius: 26%;
          }

          .container div:nth-child(3n) img{
              border-top-left-radius: 21%;
              border-top-right-radius: 43%;
              border-bottom-left-radius: 21%;
              border-bottom-right-radius: 29%;
          }
          .container div:nth-child(5n) img{
              border-top-left-radius: 41%;
              border-top-right-radius: 30%;
              border-bottom-left-radius: 37%;
              border-bottom-right-radius: 23%;
          }
          .container div:nth-child(7n) img{
              border-top-left-radius: 38%;
              border-top-right-radius: 20%;
              border-bottom-left-radius: 21%;
              border-bottom-right-radius: 38%;
          }
          .container div:nth-child(11n) img{
              border-top-left-radius: 41%;
              border-top-right-radius: 47%;
              border-bottom-left-radius: 48%;
              border-bottom-right-radius: 47%;
          }

          .container div:nth-child(13n) img{
              border-top-left-radius: 31%;
              border-top-right-radius: 67%;
              border-bottom-left-radius: 48%;
              border-bottom-right-radius: 57%;
          }

          .container div:first-child img {
              border-top-left-radius: 51%;
              border-top-right-radius: 57%;
              border-bottom-left-radius: 58%;
              border-bottom-right-radius: 57%;
          }

          .container div img:hover {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
          }


        /* @media all and (max-width: 800px) { */
     /* .html {
       justify-content: space-around;
     }
   }

   @media all and (max-width: 600px) {
     .html {
       -webkit-flex-flow: column wrap;
       flex-flow: column wrap;
       padding: 0;
     } */


        #home {
            background: #343c47;
            color: #ffffff;
          font-size: 50px;
          background: -webkit-radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%); background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
        }
        #skills {
            background: #f5f8fb;
          background-color:#f44336; background: -webkit-radial-gradient(ellipse farthest-corner at center top, #cbf49a 0%, #1ea623 100%); background: radial-gradient(ellipse farthest-corner at center top, #cbf49a 0%, #1ea623 100%);
        }

        #projects {
          background-color:#d32f2f; background: -webkit-radial-gradient(ellipse farthest-corner at center top, #6beace 0%, #2e9aa4 100%); background: radial-gradient(ellipse farthest-corner at center top, #6beace 0%, #2e9aa4 100%);
        }

        #about {
          background-color:#f50057; background: -webkit-radial-gradient(ellipse farthest-corner at center top, #69d2fb 0%, #20438E 100%); background: radial-gradient(ellipse farthest-corner at center top, #69d2fb 0%, #20438E 100%);
        }

        #contact {
          background-color:#0d47a1; background: -webkit-radial-gradient(ellipse farthest-corner at center top, #d33f34 0%, #a61322 100%); background: radial-gradient(ellipse farthest-corner at center top, #d33f34 0%, #a61322 100%);
        }

        .dotnav-right {
            right: 10px;
            top: 50%;
            margin-top: -50px;
            height: 100px;
            z-index: 999;
            position: fixed;
        }

        .dotnav {
            padding: 0;
            list-style: none;
            font-size: 0.001px;
        }

        .dotnav > li {
            display: inline-block;
            font-size: 1rem;
            vertical-align: top;
        }
        .dotnav > li:nth-child(n+2) {
            margin-left: 15px;
        }

        .dotnav > li > a {
            display: inline-block;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid #B066FE;
            vertical-align: top;
            overflow: hidden;
            padding: 0;
            text-indent: -999%;
        }
       .dotnav > li > a:hover,
       .dotnav > li > a:focus {
            background: #B066FE;
            border: 2px solid #B066FE;
            outline: none;
            font-size: 10px;
        }
        .dotnav > li > a:active {
            background: #66ccff;
            font-size: 10px;
            text-decoration-color:#B066FE;
        }
        .dotnav > li.active > a {
            background: #66ccff;
        }
        .dotnav-vertical > li {
            display: block;
            margin-right:10px;
        }
        .dotnav-vertical > li:nth-child(n+2) {
            margin-left: 0;
            margin-top: 10px;
        }
        .awesome-tooltip + .tooltip > .tooltip-inner {
            background-color: #66ccff;
            color: #fff;
            border: 1px solid #66ccff;
        }
        .awesome-tooltip + .tooltip.left > .tooltip-arrow{
            top:50%;
            right:0;
            margin-top:-5px;
            border-top:5px solid transparent;
            border-bottom:5px solid transparent;
            border-left:5px solid #66ccff;
        }

h1 {
  text-align: center; color: #fff;
  height: 50%; font-size: 50px; font-family: 'Josefin Sans', sans-serif; padding-top: 25%;
}


.container {
  display: flex;
  flex-direction:row;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  flex-basis: auto;
  /* padding-top: 10%; */
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 25%;
  /* flex-grow: 15%; */
}



div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 310px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.item * {
  box-sizing: border-box;
}

div.item img {
  max-width: 100%;
  vertical-align: middle;
  height: 280px;
  width: 350px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
}

div.item.blue {
  background-color: #34495e;
}

div.item.orange i{
  color: #FF8C00;
}

div.item.orange {
  background-color: #FF8C00;
}
div.item.blue i {
  color: #34495e;
}
div.item.red {
  background-color: #e74c3c;
}
div.item.red i {
  color: #e74c3c;
}

div.item.green {
  background-color: #16a085;
}
div.item.green i {
  color: #16a085;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item * {
  transition: all 1s ease-in-out;
}

div.item i {
  transform: translate(-50%, -50%)scale(0);
  transition: transform 0.5s  100ms cubic-bezier(0.6, -0.28, 0.735, 1.275);

}

div.item:hover i {
  transform: translate(-50%, -50%)scale(1);
  transition: transform 300ms  100ms cubic-bezier(0.175, 0.885, 0.32, 0.045);
}
